.button{
    width: 376px;
    height: 48px;
    border-radius: 28px;
    border: 1px solid #dfdfdf;
    background-color: #ffffff; 
    cursor: pointer;
}

.button:hover{
    background-color: #1f1f1f;
    color: #f1f1f1
}