.container{
  max-width: 1440px;
  padding: 40px;
  display: flex;
  margin: 0 auto;
}

.rightCol {
  padding: 40px 60px;  
}

.section {
    padding-top: 10px;
}

.sizes,
.colours
{
    display: flex;
}


.action {
    padding-top: 40px;
    text-align: center;
}

hr {
    border:1px solid #dfdfdf
}