.container{
    position: relative;
}

.image {
    max-width: 900px;
}

.zoom{
    position: absolute;
    top: 0;
    right: 0;
    width: 18px;
    height: 18px;
    padding: 10px;
    border-radius: 50%;
    background-color: #ffffff;
    margin:20px;
    box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.06);
    transition: transform .2s;
    cursor: pointer;
}

.zoom:hover{
    transform: scale(1.5);
}

.zoomed{
    position: absolute;
    max-width: 1000px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
